<header class="flex">
  <div class="flex padding">
    <div class="logo-container">
      <h1 class="logo">Opeoluwa&nbsp;Iyi&#8209;Kuyoro</h1>
      <div class="stack header-stack">
        <cl-image class="lang" public-id="portfolio assets/1200px-Unofficial_JavaScript_logo_2.svg.png" >
          <cl-transformation width="25" crop="scale">
          </cl-transformation>
        </cl-image>
        <cl-image class="lang" public-id="portfolio assets/1_mn6bOs7s6Qbao15PMNRyOA.png" >
          <cl-transformation width="25" crop="scale">
          </cl-transformation>
        </cl-image>
        <cl-image class="lang" public-id="portfolio assets/C-Sharp-Logo.gif" >
          <cl-transformation height="25" width="25" crop="scale">
          </cl-transformation>
        </cl-image>
        <cl-image class="lang" public-id="portfolio assets/Angular_full_color_logo.svg.png" >
          <cl-transformation height="25" width="25" crop="scale">
          </cl-transformation>
        </cl-image>
      </div>
    </div>
    <div class="flex big-screen-nav">
      <nav class="push-right">
        <ul class="flex">
          <li tabindex="1" [routerLink]="['/']" routerLinkActive="nav-link--dark"  class="nav-link">Home</li>
          <li *ngIf="isAuthenticated()" tabindex="1" [routerLink]="['/admin/new-article']" routerLinkActive="nav-link--dark"  class="nav-link">Write</li>
          <li *ngIf="isAuthenticated()" tabindex="1" routerLinkActive="nav-link--dark"  class="nav-link" (click)="openAddArticleModal()">Add</li>
          <!-- <li tabindex="1" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Articles</li>
          <li tabindex="1" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Open Source Projects</li> -->
        </ul>
      </nav>
    </div>
    <button class="small-screen-nav" (click)="openSideNav()"><i aria-label="navigation menu icon" class="small-screen-nav fas fa-bars"></i></button>
  </div>
</header>
