div, section {
  width: 100%;
}

header {
  width: 100%;
  background-color: #D8D8D8;
  height: 70px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
}

.body {
  min-height: 100%;
  margin-bottom: -87px;
}

.flex {
  display: flex;
  align-items: center;
}

.padding {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  widows: 245px;
}

.logo {
  font-size: 25px;
}

.logo:hover + [class^=stack] {
  display: flex;
}

.stack {
  display: none;
  align-items: center;
  flex-direction: row;
  height: 70px;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1s;
  animation-name: slide;
  animation-duration: 1s;
  overflow: hidden;
}

@-webkit-keyframes slide {
  from {width: 0;}
  to {width: 170px;}
}

@keyframes slide {
  from {width: 0;}
  to {width: 170px;}
}

.lang {
  display: flex;
  margin: 0 8px;
  height: 25px;
}

.lang:first-of-type {
  margin-left: 8px;
}

.nav-link {
  height: 27px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  margin-left: 35px;
  line-height: 30px;
  color: #494949;
}

.nav-link--dark {
  color: #000000;
}

.nav-link:hover {
  cursor: pointer;
}

.push-right {
  margin-left: auto;
}

.small-screen-nav {
  color: #959595;
  display: none;
  height: 50px;
  width: 50px;
  margin: auto 0;
  font-size: 25px;
  border: none;
  line-height: 50px;
  text-align: center;
}

.small-screen-nav {
  margin-left: auto;
}

.small-screen-nav:hover {
  cursor: pointer;
  color: black;
}

.small-screen-nav:focus {
  color: black;
  outline-style: none;
}

@media screen and (max-width: 1220px) {
  .header-stack {
    display: none;
  }
}

@media screen and (max-width: 944px) {
  .small-screen-nav {
    display: inline;
  }

  .big-screen-nav {
    display: none;
  }
}
