<div class="body">
  <div class="content-inside">
    <app-header></app-header>
    <div class="projects">
      <app-projects></app-projects>
      <aside class="bio">
        <div class="info">
          <img class="profile-img" src="../../../assets/icons/IMG_8579-min.png" alt="Ope's Image"/>
          <div class="name-role">
            <h1 class="name">Opeoluwa Iyi-Kuyoro</h1>
            <p class="role">Software Developer</p>
          </div>
        </div>
        <p class="bio-text">Hi,</p>
        <p class="bio-text">I am Ope. I build web apps and write about the same for a living. I have an educational background in Civil Engineering and I have some field experience on the same.</p>
        <p class="bio-text">I am committed to building functional, secure and beautiful products on and for the web, bringing ease to web accessibility for everyone.</p>
        <p class="bio-text">I have displayed some of my articles and projects here for easy access.</p>
        <h2 class="stack-title">Portfolio Stack</h2>
        <ul class="lang-list">
          <li>JavaScript/Node</li>
          <li>TypeScript</li>
          <li>C#/.NET Core</li>
          <li>Angular</li>
          <li>Postgres</li>
          <li>MySQL</li>
        </ul>
      </aside>
    </div>
    <app-articles-group></app-articles-group>
  </div>
</div>
<app-footer></app-footer>
