<div class="body">
  <div class="content-inside">
    <app-header></app-header>
    <div *ngIf="article" class="found">
      <img *ngIf="article.imageUrl" [src]="article.imageUrl">
      <div class="edit_container" [ngClass]="{edit_disabled: !isAdmin()}">
        <button class="edit-btn" (click)="editArticle()">Edit</button>
      </div>
      <h1>{{article.title}}</h1>
      <p class="author">By: {{article.authors | authors}}</p>
      <p class="time-past">{{article.createdAt | timepast}}</p>
      <div class="editor-container">
        <ckeditor class="article-body" disabled="true" [editor]="Editor" [data]="article.body"></ckeditor>
      </div>
    </div>
    <div *ngIf="!article" class="not-found flex">
      <h1>404</h1>
      <h2>Seems like the article you are looking for is not available</h2>
      <p>Here are some others</p>
      <app-articles-group></app-articles-group>
    </div>
  </div>
</div>
<app-footer></app-footer>
