.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.found img {
  width: 100%;
  max-height: 462px;
  object-fit: cover;
}

.found h1 {
  font-size: 23px;
  max-width: 1000px;
  width: 90%;
  margin: 15px auto 0 auto;
}

.author {
  font-style: italic;
  font-size: 16px;
}

.editor-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.article-body {
  font-family: "Times New Roman";
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
  line-height: 30px;
}

.not-found h1 {
  font-size: 75px;
}

.not-found h2 {
  max-width: 1070px;
  font-size: 45px;
}

.not-found p {
  font-size: 30px;
}

div, section {
  width: 100%;
}

.body {
  min-height: 100%;
  margin-bottom: -87px;
}

.content-inside {
  padding-bottom: 87px;
}

.time-past {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #828282;
  margin-bottom: 0;
}

.edit-btn {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #c4c4c4;
  box-shadow: 4px 4px 7px 0 #828282;
  font-size: 18px;
  margin-left: auto;
}

.edit-btn:focus {
  box-shadow: none;
}

.edit-btn:hover {
  cursor: pointer;
}

.edit_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.edit_disabled {
  display: none;
}
