a {
  text-decoration: none;
}

.projects {
  max-width: 855px;
  margin-top: 50px;
  max-height: 506px;
  overflow-y: auto;
}

.projects::-webkit-scrollbar {
  width: 3px;
}

.projects::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 1.5px;
}

.project {
  min-width: 580px;
  max-width: 826px;
  height: 101px;
  display: grid;
  grid-template-columns: 107px auto 23px;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.project:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.product--image-container {
  position: relative;
  grid-column-start: 1;
}

.project--image {
  width: 85px;
  height: 85px;
  margin-top: 8px;
}

.product--image-overlay {
  position: absolute;
  background-color: #E9E9E9;
  opacity: 0.42;
  width: 85px;
  height: 85px;
  margin: 8px 11px;
  top: 0;
  left: 0;
}

.project--info {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.project--header {
  display: flex;
  justify-content: space-between;
}

.project--title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  color: #000000;
}

.project--lang {
  font-size: 17px;
  align-items: center;
  text-align: right;
  color: #1F7700;
}

.project--description {
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  margin-top: 8px;
}

.project-host {
  display: none;
}

@media screen and (max-width: 954px) {
  .projects {
    max-width: 1200px;
    width: 100%;
    margin-top: 10px;
  }

  .project {
    min-width: 200px;
  }
}

@media screen and (max-width: 670px) {
  .project {
    grid-template-columns: 10px auto 10px;
    grid-template-rows: auto 30px;
    height: 100%;
  }

  .project--image,
  .product--image-overlay,
  .product--image-container {
    display: none;
  }

  .project--description {
    margin-bottom: 10px;
  }

  .project-host {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #C4C4C4;
    border-radius: 0px 0px 5px 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    font-weight: bold;
    font-size: 0.4em;
    text-align: center;
    color: #FFFFFF;
  }

  .project-host--text {
    margin: auto 0;
  }
}
