a {
  text-decoration: none;
}

.delete {
  font-size: 20px;
  text-align: right;
  margin: 5px;
}

.delete:hover {
  color: red;
}

.articles-loader p {
  font-size: 18px;
}

.articles-region {
  display: flex;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}

.articles-padding {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
}

.articles-group {
  display: flex;
  padding: 25px 0;
  width: 100%;
  max-width: 1200px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.article-card {
  display: flex;
  width: 200px;
  min-width: 200px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 0 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.article-card:hover {
  cursor: pointer;
  box-shadow: none;
  width: 199px;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.25);
}

.article-card-title {
  font-size: 15px;
  background: rgba(33, 33, 33, 0.68);
  border-radius: 0px 0px 5px 5px;
  height: 58px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.category-header {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error_message {
  font-size: 16px;
}
