div, section {
  width: 100%;
}

.body {
  min-height: 100%;
  margin-bottom: -87px;
}

.content-inside {
  padding-bottom: 87px;
  height: 100%;
}

.categories {
  font-size: 20px;
}

.title {
  border: none;
  font-size: 23px;
  font-family: "Times New Roman";
  width: 100%;
  max-width: 1200px;
  text-align: center;
  background-color: #ffffff00;
}

.submit-btn {
  height: 30px;
  border: none;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #adffb8;
  box-shadow: 4px 4px 7px 0px #c4c4c4;
}

.submit-btn:disabled {
  display: none;
}

.submit-btn:focus {
  outline: none;
  background-color: #c4c4c4;
  box-shadow: none;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 90%;
  margin: 20px auto;
}

.rad-btn {
  margin-right: 20px;
}

.image-label {
  font-size: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
}

.upload-icon {
  align-self: center;
}

.image-container {
  margin: 0 auto;
  width: 100%;
  min-height: 20px;
}

.image-container input{
  position: absolute;
  top: -999999999px;
  left: -99999999px;
}

.image-container img {
  max-height: 462px;
  width: 100%;
  object-fit: cover;
}

.label-container {
  max-width: 1200px;
  margin: 0 auto;
}

.progress-bar {
  height: 5px;
  width: 100%;
}

.progress {
  height: 5px;
  background-color: rgb(112, 112, 112);
}

.editor-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

:host ::ng-deep .ck-editor__editable {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  font-family: "Times New Roman";
  padding: 0;
}
