<div class="body">
  <div class="content-inside">
    <app-header></app-header>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="image-container">
        <input tabindex="-1" type="file" id="image" formControlName="image" (change)="selectFile($event)">
        <div class="label-container">
          <label class="image-label" for="image" *ngIf="!image">
            <fa-icon class="upload-icon" [icon]="faUpload"></fa-icon>
          </label>
          <button class=image-label *ngIf="image" (click)="removeImage()">
            <fa-icon class="upload-icon" [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
        <img [src]="image" *ngIf="image">
      </div>
      <input type="text" placeholder="Title" class="title" formControlName="title">
      <quill-editor [styles]="editorStyle" formControlName="article"></quill-editor>
      <div class="btn-group">
        <mat-radio-group class='categories' formControlName="category">
          <mat-radio-button class="rad-btn" value="tech">Tech</mat-radio-button>
          <mat-radio-button class="rad-btn" value="others">Others</mat-radio-button>
        </mat-radio-group>
        <button
          class="submit-btn"
          [disabled]="!articleForm.valid"
        >Submit</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
