<div aria-label="articles" class="articles-region">
  <div class="articles-padding">
    <h2 class="category-header">Inspirational</h2>
    <div class="articles-group">
      <a
        *ngFor="let article of articlesService.otherArticles"
        class="article-card"
        [clBackgroundImage]="article.image"
        (click)="selectArticle(article.link)"
      >
        <div class="article-card-title">{{article.title | truncate:"40"}}</div>
      </a>
    </div>
    <h2 class="category-header">Technical</h2>
    <div class="articles-group flex">
      <a
        *ngFor="let article of articlesService.techArticles"
        class="flex article-card"
        [clBackgroundImage]="article.image"
        (click)="selectArticle(article.link)"
      >
        <div class="article-card-title">{{article.title | truncate:"40"}}</div>
      </a>
    </div>
  </div>
</div>
