@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 38px;
  text-align: center;
  height: 100%;
}

h1, p {
  margin: 0;
}
