/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 38px;
  text-align: center;
}
