<mat-sidenav-container (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav (keydown.escape)="closeSideNav()" disableClose>
    <div class="fit flex stack">
        <cl-image class="lang" public-id="portfolio assets/1200px-Unofficial_JavaScript_logo_2.svg.png" >
          <cl-transformation width="40" crop="scale">
          </cl-transformation>
        </cl-image>
        <cl-image class="lang" public-id="portfolio assets/1_mn6bOs7s6Qbao15PMNRyOA.png" >
          <cl-transformation width="40" crop="scale">
          </cl-transformation>
        </cl-image>
        <cl-image class="lang" public-id="portfolio assets/C-Sharp-Logo.gif" >
          <cl-transformation height="40" width="40" crop="scale">
          </cl-transformation>
        </cl-image>
        <cl-image class="lang" public-id="portfolio assets/Angular_full_color_logo.svg.png" >
          <cl-transformation height="40" width="40" crop="scale">
          </cl-transformation>
        </cl-image>
    </div>
    <mat-nav-list>
      <a matLine class="side-nav-link" [routerLink]="['']" [routerLinkActive]="['is-active']">
        <mat-icon svgIcon="doc" matListIcon></mat-icon>
        Résumé
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <section class="background">
        <div class="overlay">
          <p class="fade hello">Hello, I'm</p>
          <h1> Opeoluwa Iyi-Kuyoro</h1>
          <p class="fade intro"> I build apps and write about the same for a living</p>
        </div>
    </section> -->
    <div class="body">
      <div class="content-inside">
        <header class="flex">
          <div class="flex padding">
            <img class="logo" src="https://res.cloudinary.com/iyikuyoro/image/upload/v1550737464/portfolio%20assets/IMG_8579.jpg">
            <div class="flex big-screen-nav">
              <div class="flex stack header-stack">
                  <cl-image class="lang" public-id="portfolio assets/1200px-Unofficial_JavaScript_logo_2.svg.png" >
                    <cl-transformation width="40" crop="scale">
                    </cl-transformation>
                  </cl-image>
                  <cl-image class="lang" public-id="portfolio assets/1_mn6bOs7s6Qbao15PMNRyOA.png" >
                    <cl-transformation width="40" crop="scale">
                    </cl-transformation>
                  </cl-image>
                  <cl-image class="lang" public-id="portfolio assets/C-Sharp-Logo.gif" >
                    <cl-transformation height="40" width="40" crop="scale">
                    </cl-transformation>
                  </cl-image>
                  <cl-image class="lang" public-id="portfolio assets/Angular_full_color_logo.svg.png" >
                    <cl-transformation height="40" width="40" crop="scale">
                    </cl-transformation>
                  </cl-image>
              </div>
              <nav class="push-right">
                <ul class="flex">
                  <li tabindex="1" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Résumé</li>
                  <!-- <li tabindex="1" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Articles</li>
                  <li tabindex="1" [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Open Source Projects</li> -->
                </ul>
              </nav>
            </div>
            <button class="small-screen-nav" (click)="sidenav.open()"><i aria-label="navigation menu icon" class="small-screen-nav fas fa-bars"></i></button>
          </div>
        </header>
        <app-articles-group></app-articles-group>
      </div>
    </div>
    <footer>
      <div class="flex social">
        <a aria-label="Github profile" class="social-link" href="https://github.com/IyiKuyoro"><i class="fab fa-github"></i></a>
        <a aria-label="Twitter profile" class="social-link" href="https://twitter.com/IyiKuyoro"><i class="fab fa-twitter"></i></a>
        <a aria-label="Send a mail" class="social-link" href="https://mail.google.com/mail/u/1/#inbox?compose=new"><i class="fas fa-envelope"></i></a>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
